body {
    background-color: rgb(68, 66, 66);
    padding: 0;
    margin: 0;
}



.large_box_one{
    height: 2100px;
    width: 1600px;
}

.large_box{
    height: 2100px;
    width: 1600px;
    margin: auto;
}


.information {
    margin: auto;
    background-color: white;
    border: 3px solid black;
    height: 400px;
    width: 900px;
}



.advertone {
    margin: auto;
    background-color: white;
    height: 320px;
    margin-top: 50px;
    width: 900px;
}
.advertboxtwo{
    width: 100%;   
}
.adverttwo {
    margin: auto;
    background-color: white;
    height: 320px;
    margin-top: 50px;
    width: 900px;
}
.advertboxtwo{
    width: 100%;   
}

.text{
    margin: auto;
    width: 800px;
    font-family: Georgia, serif;
}

.alsotext{
    padding-left: 20px;
    padding-right: 20px;
}
#aslotextline{
    font-size: 28px !important;

}

.title {
    width:900px;
    height: 100px;
    border: 3px solid black;
    background-color: white;
    margin: auto;
    font-size: 50px;
    font-family: Georgia, serif;

}

.box{
width: 100%;   
}



.titletext{
    margin-top: 18px;
    margin-left: 70px;
}

.page{
    width: 900px;
    height: 1500px;
    border: 3px solid black;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}


.langugesbox{
    width: 100%; 
}
.langugescentrebox{
    width: 900px;
    height: 100px;
    margin: auto;
    display: flex;
    border: 3px solid black;
    background-color: white;
}

.insidelangugesbox{
    width: 200px;
}
.leftlangugesbox{
    height: 100px;
    width: 320px;
    font-size: 35px;
    background-color: white;
    font-family: Georgia, serif;
    text-align: center;
}
.rightlangugesbox{
    height: 100px;
    width: 280px;
    font-size: 35px;
    font-family: Georgia, serif;
    text-align: center;
}
.arrow{
    width: 100%;
    height: 100%;
}
.languges{
height: 100px;
width: 300px;
font-size: 35px;
background-color: white;
border: 3px solid greenyellow;
font-family: Georgia, serif;
}
.languges:hover {
    cursor: pointer;
  }


.one_topbox{
    height: 100px;
    width: 100%;
    background-color: white;
}

.two_leftbox{
    height: 100px;
    width: 300px;
    background-color: white;
    margin-left: 120px;
    margin-top: 20px;
}
.three_rightbox{
    height: 180px;
    width: 293px;
    background-color: white;
    margin-left: 580px;
    border: 3px solid black;
    border-top-width:  4px;
    border-bottom-width:  4px;
    margin-top: -128px;
}

.four_title{
    font-size: 45px;
    color: black;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: underline black;
}

.five_img{
    width: 100%;
    height: 100%;
}

.six_mainbox{
    width: 100%;
    height: 1430px;
    margin-top: 84px;
}
.seven_leftbox{
    width: 440px;
    height: 1400px;
    margin-top: -50px;
    margin-left: 50px;
}

.eight_rightbox{
    width: 440px;
    height: 1400px;
    margin-top: -1350px;
    margin-left: 475px;
}

table, th, td {
    text-align: center;
    margin-left: -45;
    width: 100%;
    font-size: 25px;
    color: black;
    font-family: Georgia, serif;
  }


.Bulgarianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 2;
    position: absolute;
    border-radius: 5px;
}

.Croatianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}


.Czechpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}


.Danishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Dutchpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Englishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Estonianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Finnishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Frenchpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Germanpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Greekpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Hungarianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Irishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Italianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Latvianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Lithuanianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Maltesepage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Polishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Portuguesepage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Romanianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Slovakpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Slovenianpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Spanishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.Swedishpage{
    width: 900px;
    height: 1500px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

.bottemboxoutside{
    margin-top: 50px;
    width: 100%;
    background-color: black;
    height: 290px;
}
.bottemboxmiddle{
    width: 400px;
    height: 290px;
    margin: auto;
    position: relative;
}
.bottembox{
    background-color: black;
    border-left: 5px solid #C29F5F;
    height: 250px;
    margin-top: 20px;
    width: 400px;
    color: #C29F5F;
    text-align: center;
    position: absolute;
    
}

.widebox{
    margin: auto;
    width: 250px;
    height: 75px;
    margin-top: 35px;
}
.instagram{
    /* border: 1px solid white; */
    width: 75px;
    height: 75px;
    margin-top: -1px;
}
.gmail{
    /* border: 1px solid white; */
    width: 75px;
    height: 75px;
    float: right;
    margin-top: -77px;
}
.inside_instagram{
    width: 70px;
    height: auto;
    max-width: 70px;
}
.buttonbox{
    background-color: black;
    border: none;
    width: 75px;
    height: 75px;
    margin-top: 20px;
}


